# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo = df

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
chipo.shape[0]

# OR 

# len(chipo.values)

# OR 

# chipo.info()

4622

### Step 6. What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

# OR 

# len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [6]:
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which item was ordered most often?

In [8]:
chipo['item_name'].value_counts().nlargest(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. How many of that item were ordered in total?

In [9]:
chipo.groupby('item_name')['quantity'].sum().nlargest(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [10]:
chipo.groupby('choice_description')['quantity'].sum().nlargest(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were ordered in total?

In [11]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [12]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

### Step 14. How much was the revenue for the period in the dataset?

In [13]:
chipo['item_price'].sum()

34500.160000000003

### Step 15. How many orders were made in the period?

In [14]:
chipo['order_id'].nunique()

# OR 

# chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average amount per order?

In [15]:
chipo.groupby('order_id')['item_price'].sum().mean()

18.811428571428568

### Step 17. How many different items are sold?

In [16]:
chipo['item_name'].nunique()

# OR

# chipo['item_name'].value_counts().count()

50